.App-header {
  text-align: center;
  border-bottom: solid rgba(0,0,0,0.2) 1px;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
    font-style: italic;
}

.Chart-group {
  position: relative;
  display: flex;
  padding: 1em 2em 0 2em;
}

.Chart {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.Chart p {
  position: relative;
  display: block;
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

.Input-params {
  padding: 0 1em;
}

.Input-params-box {
  display: flex;
  align-items: center;
}

.Input-params-box input[type="text"] {
  margin: 0 1em;
  font-size: 1.5em;
}

.Input-params-box .Input-warn {
  font-size: 0.8em;
}

.Input-params-button {
  font-size: 1em;
}

.Explainer-box {
  padding: 0 1em;
}

.Explainer-concepts {
  display: flex;
  align-items: center;
}

.Concept-box {
  padding: 0 0.5em;
}

.Concept-title {
  font-weight: bold;
}

.Concept-confidence {
  font-style: italic;
  padding: 0 0.5em;
}
